name: Docker Image CI

on:
  push:
    branches: ['main']
  pull_request:
    branches: ['main']
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Set build metadata
        id: meta
        run: |
          NOW="v$(date +'%Y%m%d.%H%M%S')"
          echo "now=$NOW" >> $GITHUB_OUTPUT
          echo "tags=simstosh/improved-bun:latest,simstosh/improved-bun:$NOW" >> $GITHUB_OUTPUT

      - name: Login to Docker Hub
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          file: Dockerfile
          platforms: linux/amd64,linux/arm64
          push: ${{ github.event_name != 'pull_request' }}
          no-cache: true
          tags: |
            simstosh/improved-bun:latest
            simstosh/improved-bun:${{ steps.meta.outputs.now }}
